@media screen and (min-width: 768px) {
    #navbar {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
    }

    #navbar .nav-item {
        width: 100%;
    }

    .nav-item ul {
        list-style-type: none;
    }

    .nav-item li a {
        text-decoration: none;
        display: block;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        color: rgba(0, 0, 0, 0.5);
        padding: 12px 14px 14px 14px;
        float: left;
        font-size: 20px;
        transition: border 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    .nav-item li a:hover {
        border-bottom-style: solid;
        border-bottom-color: teal;
        border-bottom-width: thin;
    }

    span.heading {
        font-family: 'Raleway', 'Oswald', sans-serif;
        font-size: 40px;
        padding: 14px 12px;
        font-weight: bolder;
        color: rgba(0, 200, 200, 1.0);
    }

    #fab-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 40px;
        padding: 10px 10px 10px 10px;
        cursor: pointer;
        transition: left 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    #fab-sidebar:hover {
        background-color: rgba(0, 120, 200, 0.7);
    }

    #fab-sidebar #hamburger-top-sidebar {
        width: 35px;
        height: 2px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: black;
        transition: all 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    #fab-sidebar #hamburger-middle-sidebar {
        width: 35px;
        height: 2px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: black;
        transition: all 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    #fab-sidebar #hamburger-bottom-sidebar {
        width: 35px;
        height: 2px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: black;
        transition: all 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    #fab-sidebar.active {
        left: 240px;
        position: fixed;
    }

    #fab-sidebar.active:hover {
        background-color: transparent;
    }

    #fab-sidebar.active #hamburger-top-sidebar {
        transform: rotate(45deg) translate(0, 14px);
        background-color: rgba(0, 200, 200, 0.7);
    }

    #fab-sidebar.active #hamburger-middle-sidebar {
        opacity: 0;
    }

    #fab-sidebar.active #hamburger-bottom-sidebar {
        transform: rotate(-45deg) translate(0, -14px);
        background-color: rgba(0, 200, 200, 0.7);
    }
}

@media screen and (max-width: 767px) {
    #navbar {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        position: absolute;
        top: -234px;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 150px;
        background-color: rgba(0, 120, 200, 0.7);
        transition: top 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    #navbar.active {
        opacity: 1;
        top: -1px;
    }
    #navbar .nav-item {
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .nav-item ul {
        list-style-type: none;
    }

    .nav-item li a {
        text-decoration: none;
        display: block;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
        padding: 4px 4px 4px 4px;
        transition: color 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    .nav-item li a:hover {
        color: rgba(3, 3, 3, 0.5);
    }

    .heading {
        display: none;
    }

    #fab {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        padding: 10px 10px 10px 10px;
        cursor: pointer;
        transition: top 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0)
    }

    #fab:hover {
        background-color: rgba(0, 120, 200, 0.7);
    }

    #fab #hamburger-top {
        width: 35px;
        height: 2px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: black;
        transition: all 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    #fab #hamburger-middle {
        width: 35px;
        height: 2px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: black;
        transition: all 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    #fab #hamburger-bottom {
        width: 35px;
        height: 2px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: black;
        transition: all 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    #fab.active {
        top: 100px;
    }

    #fab.active:hover {
        background-color: transparent;
    }

    #fab.active #hamburger-top {
        transform: rotate(45deg) translate(0, 14px);
        background-color: white;
    }

    #fab.active #hamburger-middle {
        opacity: 0;
    }

    #fab.active #hamburger-bottom {
        transform: rotate(-45deg) translate(0, -14px);
        background-color: white;
    }

    #fab-sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        padding: 10px 10px 10px 10px;
        cursor: pointer;
        transition: top 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0)
    }

    #fab-sidebar:hover {
        background-color: rgba(0, 120, 200, 0.7);
    }

    #fab-sidebar #hamburger-top-sidebar {
        width: 35px;
        height: 2px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: black;
        transition: all 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    #fab-sidebar #hamburger-middle-sidebar {
        width: 35px;
        height: 2px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: black;
        transition: all 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    #fab-sidebar #hamburger-bottom-sidebar {
        width: 35px;
        height: 2px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: black;
        transition: all 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    #fab-sidebar.active {
        top: 200px;
        margin-bottom: 50px;
    }

    #fab-sidebar.active:hover {
        background-color: transparent;
    }

    #fab-sidebar.active #hamburger-top-sidebar {
        transform: rotate(45deg) translate(0, 14px);
        background-color: rgba(0, 200, 200, 0.7);
    }

    #fab-sidebar.active #hamburger-middle-sidebar {
        opacity: 0;
    }

    #fab-sidebar.active #hamburger-bottom-sidebar {
        transform: rotate(-45deg) translate(0, -14px);
        background-color: rgba(0, 200, 200, 0.7);
    }
}