    <div class="textline">
        <h4>
            Welcome to Poetical, the community of intellectuals who are masters in the art of soul upliftment through stanzas.
        </h4>
        <h5>
            Join our community of talented folks and bask in the warmth that comes with each verse in their mind-tingling art.
        </h5>
        <a class="button-outline-attention" [routerLink]="['../register']">
            Get Started
        </a>
    </div>