@media screen and (min-width: 768px) {
    a.button-outline-attention {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        border: medium solid rgba(0, 128, 128, 0.5);
        border-radius: 5px;
        padding: 12px 14px;
        font-size: 20px;
        background-color: transparent;
        transition: background 1s cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }
    a:hover.button-outline-attention {
        background-color: rgba(0, 200, 128, 0.7);
    }
}

@media screen and (max-width: 767px) {
    a.button-outline-attention {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        border: medium solid rgba(0, 128, 128, 0.5);
        border-radius: 5px;
        padding: 5px 7px;
        font-size: 15px;
        text-align: center;
        display: block;
        background-color: transparent;
        transition: background 1s cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    a:hover.button-outline-attention {
        background-color: rgba(0, 200, 128, 0.7);
    }
}