<div class="grouped">
    <div class="grouped-item"></div>
    <div class="grouped-item">
        <h4>
            Login
        </h4>
        <div class="formgroup">
            <form [formGroup]="loginGroup">
                <input type="text" id="user" placeholder="Enter Username" [formControl]="username">
                <input type="password" id="password" placeholder="Enter Password" [formControl]="password">
                <button [disabled]="!loginGroup.valid" (click)="login()">{{ buttonText }}</button>
            </form>
            <div class="bottom-line">
                <h6>Lost password?</h6> <a [routerLink]="['../resetpassword']">Reset password</a>
            </div>
        </div>
    </div>
    <div class="grouped-item"></div>
</div>