  <div class="header">
    <app-header></app-header>
  </div>
  <div class="main" [ngClass]="{'bottomify': toggledOn}">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>