:host /deep/ .pagination {
    list-style: none;
    border-radius: 0.25rem;
    display: flex;
    padding-left: 0;
}

:host /deep/ .pagination .page-item .page-link {
    border-radius: 0 !important;
}



 :host /deep/ .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  :host /deep/ .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid rgba(0, 128, 128, 0.7);
    outline: none;
  }

  :host /deep/ .page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: rgba(0, 0, 200, 0.5);
  }

  :host /deep/ .page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  :host /deep/ .page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  :host /deep/ .pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }

  :host /deep/ .pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
  }

  :host /deep/ .pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }

  :host /deep/ .page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: rgba(128, 128, 0, 0.8);
    border-color: #007bff;
  }

  :host /deep/ .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
  }