<div *ngIf="_userProfile !== 'undefined'">
  <div class="profile-card">
    <img src="data:{{ _userProfile.profilePic !== null && _userProfile.profilePic != 'undefined' ? _userProfile.profilePic.mimeType : '' }};base64,{{ _userProfile.profilePic !== null && _userProfile.profilePic != 'undefined' ? _userProfile.profilePic.data : '' }}" class="pic" alt="No Image"/>
    <div class="details-container">
        <div class="details-item">
          <i class="fa fa-user"></i> <b>Username:</b> {{ _userProfile.username }}
        </div>
        <div class="details-item">
          <i class="fa fa-mars"></i> <b>Gender:</b> {{ _userProfile.gender }}
        </div>
        <div class="details-item">
          <i class="fa fa-envelope"></i> <b>Messages:</b> <span class="item">{{ _userProfile.unreadMessages }}</span>
        </div>
        <div class="details-item">
          <i class="fa fa-copy"></i> <b>Poems:</b> <span class="item">{{ _userProfile.poems.length }}</span>
        </div>
      </div>
  </div>
</div>
<div>
    <div *ngIf="_poemsData && _poemsData.content.length > 0">
      <div class="flex-view">
        <div *ngFor="let item of _poemsData.content" class="flexed-item">
          <div class="card">
            <div class="details-container">
              <div class="details-item">
                <div class="image-div">
                  <img src="assets/thumbnail.jpg" alt="No Image"/>
                </div>
              </div>
              <div class="details-item">
                <h5>
                  # {{ item.id }}
                </h5>
              </div>
              <div class="details-item">
                <h5>
                  {{ item.title }}
                </h5>
              </div>
              <div class="details-item">
                <h5>
                  {{ item.author }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-view">
      <div class="flexed-item"></div>
      <div class="flexed-item">
        <ngb-pagination [collectionSize]="_poemsData.totalElements" [maxSize]="7" [rotate]="true" [boundaryLinks]="true" [directionLinks]="false" [ellipses]="false" [pageSize]="_poemsData.size" [(page)]="_poemsPage"(pageChange)="getAllPoemsByUser()" size="sm"></ngb-pagination>
      </div>
      <div class="flexed-item"></div>
    </div>
</div>