@media screen and (min-width: 769px) {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #sidebar-logged-in {
        position: fixed;
        padding-bottom: 50px;
        padding-top: 50px;
        margin-bottom: 15px;
        height: 100%;
        top: 0;
        bottom: 50px;
        left: -234px;
        opacity: 0;
        width: 240px;
        background-color: rgba(0, 0, 0, 1.0);
        transition: left 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    #sidebar-logged-in .img-div img {
        width: 100px;
        height: 100px;
        transition: transform 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
        cursor: pointer;
    }

    #sidebar-logged-in.active {
        opacity: 1;
        left: -1px;
    }

    #sidebar-logged-in input {
        padding: 10px 10px;
        border: 2px solid rgba(0, 200, 200, 0.7);
        border-radius: 5px;
        width: 80%;
        margin-top: 10px;
        box-sizing: border-box;
        cursor: pointer;
        outline: none;
    }

    #sidebar-logged-in .img-div img:hover {
        transform: scale(1.3);
    }

    #sidebar-logged-in button.upload {
        border: medium solid rgba(0, 180, 180, 0.7);
        background-color: rgba(0, 128, 128, 1.0);
        cursor: pointer;
        color: #f6f6f6;
    }

    #sidebar-logged-in button.upload:disabled {
        cursor: default;
    }

    .side-navbar {
        margin-top: 20px;
        margin-left: 0px;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .side-navbar li a {
        color: #f6f6f6;
        text-decoration: none;
        padding: 14px 16px 16px;
        text-align: center;
        display: block;
    }

    .side-navbar li a:hover {
        background-color: rgba(3, 128, 3, 0.8);
    }

}

@media screen and (max-width: 768px) {
    ul {
        list-style-type: none;
    }

    #sidebar-logged-in {
        position: fixed;
        top: -234px;
        bottom: 50px;
        left: 0px;
        opacity: 0;
        height: 200px;
        width: 100%;
        background-color: rgba(0, 0, 0, 1.0);
        transition: top 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    #sidebar-logged-in .img-div img {
        width: 45px;
        height: 45px;
        float: left;
        margin-top: 20px;
        margin-left: 20px;
    }

    #sidebar-logged-in.active {
        opacity: 1;
        top: -1px;
    }

    #sidebar-logged-in input {
        padding: 10px 10px;
        border: 2px solid rgba(0, 200, 200, 0.7);
        border-radius: 5px;
        width: 50%;
        margin-top: 10px;
        box-sizing: border-box;
        cursor: pointer;
        outline: none;
    }

    #sidebar-logged-in button.upload {
        border: medium solid rgba(0, 180, 180, 0.7);
        background-color: rgba(0, 128, 128, 1.0);
        cursor: pointer;
        color: #f6f6f6;
    }

    #sidebar-logged-in button.upload:disabled {
        cursor: default;
    }
}