table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Lora', sans-serif;
}

th, thead {
    text-align: left;
    background-color: rgba(0, 120, 200, 1);
    padding: 8px;
    width: 100%;
}
td {
    border: 1px solid #dddddd;
    padding: 8px;
    width: 100%;
    text-align: center;
}

tr {
    width: 100%;
}

button.action {
    border: none;
    background-color: #dddddd;
    margin: 8px;
    cursor: pointer;
    outline: none;
}

input[type="file"] {
    color: white;
}

@media screen and (min-width: 769px) {
    body {
        max-width: 100%;
        font-family: 'PT Sans', sans-serif;
        background-color: #f6f6f6;
        background-attachment: scroll;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: rgba(0, 200, 200, 0.5);
    }

    i.pad {
        padding-right: 60px;
    }

    .main {
        margin-bottom: 40px;
        padding: 50px 40px 60px;
        box-sizing: border-box;
        }

    .main .textline h4 {
        font-size: 30px;
        font-family: 'Nunito Sans', 'Roboto Slab', sans-serif;
        color: rgba(128, 0, 128, 0.5);
    }

    .main .textline h5 {
        font-size: 20px;
    }

    .main .textline {
        width: 70%;
        justify-content: center;
        align-items: center;
    }

    .main .bottom-line h6 {
        margin: 0;
        padding: 0;
    }

    .header {
        padding: 10px;
        height: 20px;
    }

    .footer {
        position: fixed;
        height: 40px;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 120, 200, 1.0);
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding-top: 26px;
    }

    .formgroup {
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .formgroup small {
        float: left;
    }

    .formgroup input[type=text], input[type=password], input[type=email], select {
        width: 100%;
        border: medium solid rgba(0, 200, 200, 0.5);
        border-radius: 5px;
        color: black;
        margin-bottom: 10px;
        box-sizing: border-box;
        padding: 14px 20px;
        outline: none;
    }

    .formgroup textarea {
        width: 100%;
        border: medium solid rgba(0, 200, 200, 0.5);
        border-radius: 5px;
        box-sizing: border-box;
        height: 200px;
        outline: none;
    }

    .formgroup textarea:focus {
        border-color: rgba(0, 200, 128, 1.0); 
    }

    .formgroup input:focus {
        border-color: rgba(0, 200, 128, 1.0);
    }

    .formgroup button {
        width: 100%;
        font-size: 25px;
        border: thin solid rgba(0, 128, 128, 1.0);
        background-color: transparent;
        border-radius: 5px;
        font-family: 'Encoded Sans Condensed', 'Roboto Slab', sans-serif;
        text-align: center;
        padding: 12px 20px;
        cursor: pointer;
        transition: background 1s ease-in-out;
        outline: none;
    }

    .formgroup button:hover {
        background-color: teal;
    }

    .grouped {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 80%;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    .grouped-item {
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 80%;
    }

    .grouped.accomodate-sidebar {
        margin-left: 200px;
    }

    ::-webkit-file-upload-button {
        border: thin solid rgba(0, 128, 128, 1.0);
        border-radius: 5px;
        color: #f6f6f6;
        background-color: rgba(0, 200, 200, 1.0);
        font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    }

    fieldset {
        border-top: medium solid rgba(0, 200, 200, 1);
        border-bottom: none;
        border-right: none;
        border-left: none;
        width: inherit;
        padding: 20px;
        text-align: center;
    }

    legend.head {
        font-size: 20px;
        font-family: 'Roboto Slab', 'Raleway', sans-serif;
        text-align: center;
        padding: 30px;
    }

}

@media screen and (max-width: 768px) {
    body {
        height: 100%;
        font-family: 'PT Sans', sans-serif;
        background-color: #f6f6f6;
        background-attachment: scroll;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: rgba(0, 200, 200, 0.5);
    }

    i.pad {
        padding-right: 20px;
    }

    .main {
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 20px 10px 40px;
        position: relative;
        transition: margin 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
        display: block;
    }

    .main.bottomify {
        margin-top: 250px;
        margin-bottom: 50px;
        padding-bottom: 50px;
        position: relative;
    }

    .main .textline h4 {
        font-size: 23px;
        font-family: 'Encode Sans Condensed', 'Roboto Slab', sans-serif;
        color: rgba(128, 0, 128, 0.5);
    }

    .main .textline h5 {
        font-size: 13px;
    }

    .header {
        padding: 10px;
    }

    .footer {
        position: fixed;
        height: 40px;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 200, 200, 1.0);
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding-top: 26px;
    }

    .formgroup {
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
    }

    .formgroup small {
        float: left;
    }

    .formgroup input[type=text], input[type=password], input[type=email], select {
        width: 100%;
        border: medium solid rgba(0, 200, 200, 0.5);
        border-radius: 5px;
        color: black;
        margin-bottom: 10px;
        box-sizing: border-box;
        padding: 12px 20px;
        outline: none;
    }

    .formgroup input:focus {
        border-color: rgba(0, 200, 128, 1.0);
    }

    .formgroup textarea {
        width: 100%;
        border: medium solid rgba(0, 200, 200, 0.5);
        border-radius: 5px;
        box-sizing: border-box;
        height: 150px;
        outline: none;
    }

    .formgroup textarea:focus {
        border-color: rgba(0, 200, 128, 1.0); 
    }

    .formgroup button {
        display: block;
        width: 100%;
        font-size: 20px;
        border: thin solid rgba(0, 128, 128, 1.0);
        background-color: transparent;
        border-radius: 5px;
        font-family: 'Encoded Sans Condensed', 'Roboto Slab', sans-serif;
        cursor: pointer;
        outline: none;
        transition: background 1s ease-in-out;
    }

    .formgroup button:hover {
        background-color: teal;
    }

    .grouped {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all 500ms cubic-bezier(0.25, 0.5, 0.75, 1.0);
    }

    .grouped-item {
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    
    .grouped.accomodate-sidebar {
        margin-top: 150px;
    }

    ::-webkit-file-upload-button {
        border: thin solid rgba(0, 128, 128, 1.0);
        border-radius: 5px;
        color: #f6f6f6;
        background-color: rgba(0, 200, 200, 1.0);
        font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    }

    fieldset {
        border-top: medium solid rgba(0, 200, 200, 1);
        border-bottom: none;
        border-right: none;
        border-left: none;
        width: inherit;
        padding: 10px;
        text-align: center;
    }

    legend.head {
        font-size: 10px;
        font-family: 'Roboto Slab', 'Raleway', sans-serif;
        text-align: center;
        padding: 20px;
    }
}